<app-navbar></app-navbar>
<app-aside></app-aside>
<main id="main" class="main">
  <div class="container col-md-12 col-lg-10 mt-5">
    <h3 class="fs-1 fw-bold text-center text-white-50 my-5">
      List Of Students
    </h3>
    <div class="card bg-dark text-light">
      <table class="table datatable table-dark table-hover table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>E-mail</th>
            <th colspan="2">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of AllStudents; index as i">
            <td>{{ i + 1 }}</td>
            <td>{{ item.username }}</td>
            <td>{{ item.email }}</td>
            <td>
              <a routerLink="/Student/{{ item.id }}"
                ><i class="text-info fs-5 fa-solid fa-eye"></i
              ></a>
            </td>
            <td>
              <a (click)="deleteStudent(item.id)"
                ><i class="fs-5 text-danger fa-solid fa-trash-can"></i
              ></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="button text-center">
    <a
      class="btn btn-outline-secondary rounded-pill my-5 px-5 fs-6 fw-bold"
      routerLink="/Add_Student"
    >
      <i class="fa-solid fa-user-plus px-1"></i> Add New Student
    </a>
  </div>
</main>
<!-- End #main -->
