<app-navbar></app-navbar>
<app-aside></app-aside>

<main id="main" class="main">
  <div class="container col-md-12 col-lg-10">
    <h3 class="fs-3 fw-bold text-center text-white-50 my-3">
      Course {{ CourseStudentData.course.title }}
    </h3>
    <div class="card bg-dark text-light">
      <div class="card-body text-center">
        <h4 class="fs-6 pt-2 text-white-50">
          ID :
          {{ id }}
        </h4>
        <hr />
        <h4 class="fs-6 text-white-50">
          User Name Of Student : {{ CourseStudentData.student.username }}
        </h4>
        <hr />
        <h4 class="fs-6 text-white-50">
          Name Of Student : {{ CourseStudentData.student.first_name }}
          {{ CourseStudentData.student.second_name }}
        </h4>
        <hr />
        <h4 class="fs-6 text-white-50">
          Status Of Course : {{ CourseStudentData.pass_status }}
        </h4>
        <hr />
      </div>
    </div>
  </div>
</main>
<!-- End #main -->
