<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="credits">
    Designed by
    <span class="text-white-50 fw-bold">Eng : Abdelrahman Abdelsamie </span>
    <div class="social-links mt-2">
      <a href="#" class="px-2 fs-5 facebook"><i class="bi bi-facebook"></i></a>
      <a href="#" class="px-2 fs-5 instagram"><i class="bi bi-instagram"></i></a>
      <a href="#" class="px-2 fs-5 linkedin"><i class="bi bi-linkedin"></i></a>
    </div>
  </div>
</footer>
<!-- End Footer -->
