<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/Admin_Page">
        <i class="bi fs-5 bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->

    <li class="nav-heading">Pages</li>

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/Admin_Profile">
        <i class="bi fs-5 bi-person"></i>
        <span>Profile</span>
      </a>
    </li>
    <!-- End Profile Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/Admins">
        <i class="fa-solid fa-lock"></i>
        <span>Admins</span>
      </a>
    </li>
    <!-- End Admins Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/Instructors">
        <i class="fa-solid fa-person-chalkboard"></i>
        <span>Instructors</span>
      </a>
    </li>
    <!-- End Instructors Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/Students">
        <i class="fs-5 fa-solid fa-school"></i>
        <span>Students</span>
      </a>
    </li>
    <!-- End Students Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/Levels">
        <i class="fs-5 bi bi-file-bar-graph-fill"></i>
        <span>Levels</span>
      </a>
    </li>
    <!-- End Levels Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/Departments">
        <i class="fs-5 fa-solid fa-book"></i>
        <span>Departments</span>
      </a>
    </li>
    <!-- End Departments Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/Courses">
        <i class="fs-5 fa-solid fa-book-open"></i>
        <span>Courses</span>
      </a>
    </li>
    <!-- End Courses Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/Error404">
        <i class="bi bi-dash-circle"></i>
        <span>Error 404</span>
      </a>
    </li>
    <!-- End Error 404 Page Nav -->
  </ul>
</aside>
<!-- End Sidebar-->
