:root {
  scroll-behavior: smooth;
  --color-white: #c3c5ca;
  --color-bg: #1c1e22 !important ;
  --color-card: #4b536b !important ;
  --color-hover: #4b536b !important ;
  --color-bg-hover: #c3c5ca !important ;
}

.card {
  background-color: var(--color-bg);
  color: var(--color-white);
}
