:root {
  scroll-behavior: smooth;
  --color-white: #c3c5ca;
  --color-bg: #1c1e22 !important ;
  --color-card: #4b536b !important ;
  --color-hover: #4b536b !important ;
  --color-bg-hover: #c3c5ca !important ;
}

.card {
  background-color: #1c1e22;
  color: var(--color-white);
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(208, 213, 223, 0.1);
}

.card-title {
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: var(--color-white);
  font-family: "Poppins", sans-serif;
}

.card-title span {
  color: #899bbd;
  font-size: 14px;
  font-weight: 400;
}

.card-body {
  padding: 0 20px 20px 20px;
}

.card-img-overlay {
  background-color: var(--color-bg) (46, 56, 83, 0.6);
}
.profile .profile-card img {
  max-width: 120px;
}

.profile .profile-card h2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-white);
  margin: 10px 0 0 0;
}
.profile .profile-card h3 {
  font-size: 18px;
}

.profile .profile-card .social-links a {
  font-size: 20px;
  display: inline-block;
  color: var(--color-white);
  line-height: 0;
  margin-right: 10px;
  transition: 0.3s;
}

.profile .profile-card .social-links a:hover {
  color: var(--color-hover);
}

.profile .profile-overview .row {
  margin-bottom: 20px;
  font-size: 15px;
}

.profile .profile-overview .card-title {
  color: var(--color-white);
}

.profile .profile-overview .label {
  font-weight: 600;
  font-size: 18px;
  font-family: cursive;
  color: var(--color-hover);
}

.profile .profile-edit label {
  font-weight: 600;
  font-size: 18px;
  font-family: cursive;
  color: var(--color-hover);
}

.profile .profile-edit img {
  max-width: 120px;
}
