<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/Instructor_Profile">
        <i class="bi fs-5 bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->

    <li class="nav-heading">Pages</li>

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/Instructor_Profile">
        <i class="bi fs-5 bi-person"></i>
        <span>Profile</span>
      </a>
    </li>
    <!-- End Profile Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/Exams">
        <i class="fs-5 fa-solid fa-note-sticky"></i>
        <span>Exams</span>
      </a>
    </li>
    <!-- End Exams Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/Questions">
        <i class="fs-5 bi bi-pencil-square"></i>
        <span>Questions</span>
      </a>
    </li>
    <!-- End Questions Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/Choices">
        <i class="fs-5 fa-solid fa-bars"></i>
        <span>Choices</span>
      </a>
    </li>
    <!-- End Choices Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/Results">
        <i class="fs-5 fa-solid fa-square-poll-vertical"></i>
        <span>Results</span>
      </a>
    </li>
    <!-- End Results Page Nav -->
  </ul>
</aside>
<!-- End Sidebar-->
